backend/billing-service/src/main/resources/xsd/billing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://intellops.com/billing/soap"
           xmlns:tns="http://intellops.com/billing/soap"
           elementFormDefault="qualified">

    <xs:element name="GetInvoiceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="invoiceNumber" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetInvoiceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="invoiceNumber" type="xs:string"/>
                <xs:element name="orderNumber" type="xs:string"/>
                <xs:element name="customerName" type="xs:string"/>
                <xs:element name="totalAmount" type="xs:decimal"/>
                <xs:element name="status" type="xs:string"/>
                <xs:element name="paymentStatus" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateInvoiceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="orderNumber" type="xs:string"/>
                <xs:element name="customerName" type="xs:string"/>
                <xs:element name="customerEmail" type="xs:string"/>
                <xs:element name="totalAmount" type="xs:decimal"/>
                <xs:element name="taxAmount" type="xs:decimal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreateInvoiceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="invoiceNumber" type="xs:string"/>
                <xs:element name="status" type="xs:string"/>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
